<div class="container mt-5">
  <h1 class="my-5">ランキング</h1>
  <p><%= link_to "今週のランキング", rankings_week_path %></p>
  <p><%= link_to "今月のランキング", rankings_month_path %></p>
  <p><%= link_to "作品別ランキング", rankings_anime_path %></p>
</div>
