<div class="modal fade" id="quiz-report-modal" tabindex="-1" aria-labelledby="quiz-report-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="quiz-report-modalLabel">クイズの違反を報告</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "quiz-report-modal-content" do %>
        <% end %>
      </div>
    </div>
  </div>
</div>
