<div class="container mt-3">
  <% if @quiz_package.package.category == "complete" %>
    <h1 class="main-title" data-en="ANIAQ">総合問題</h1>
  <% elsif %>
    <h1 class="main-title" data-en="ANIAQ">アニメ選択問題</h1>
  <% end %>
  <div class="card card-play-quiz my-5">
    <div class="card-body p-4">
      <div id="quiz_package">
        <%= render partial: 'quiz_packages/show', locals: { quiz_package: @quiz_package } %>
      </div>
    </div>
  </div>
</div>
