<div class="modal fade" id="playQuizModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLabel">クイズで遊ぶ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body home-modal">
        <%= link_to descriptions_path(category: "complete"), class: "btn-home-content btn-home-content-border mb-4" do %>
          <span>
            <%= image_tag 'complete-anime.png', size: '80x80' %>
            <p class="text-center m-0">総合問題</p>
          </span>
        <% end %>
        <%= link_to descriptions_path(category: "selected"), class: "btn-home-content btn-home-content-border mb-0" do %>
          <span>
            <%= image_tag 'specific-anime.png', size: '80x80' %>
            <p class="text-center m-0">アニメ選択問題</p>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
