<div class="container mt-3">
  <h1>Home#show</h1>
  <p><%= link_to "#{Quiz.model_name.human}一覧", quizzes_path %></p>
  <p><%= link_to "総合問題を解く", descriptions_path(category: "complete") %></p>
  <p><%= link_to "アニメを選択して解く", descriptions_path(category: "selected") %></p>
  <p><%= link_to "ランキング", rankings_path %></p>
</div>
