// 見出し
.desc-title {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0;
  font-size: 36px;
  text-align: center;
  margin-top: 24px;
}

.desc-title span {
  position: relative;
  z-index: 2;
}

.desc-title::before {
  content: attr(data-en);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(224, 66, 114, 0.2);
  font-size: 80px;
  font-style: italic;
}

// 説明
.desc-content-box {
  position: relative;
  margin: 2em 0;
  margin-bottom: 50px;
  padding: 2em 1.6em;
  border: solid 3px #f0a3b3;
  border-radius: 8px;
}

.desc-content-box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #95ccff;
  font-weight: bold;
}

.desc-content-box p {
  margin: 0;
  padding: 2px 0;
}
