.desc-content-box {
  position: relative;
  margin: 2em 0;
  margin-bottom: 50px;
  padding: 2em 1.6em;
  border: solid 3px #f0a3b3;
  border-radius: 8px;
}

.desc-content-box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #95ccff;
  font-weight: bold;
}

.desc-content-box p {
  margin: 0;
  padding: 2px 0;
}
