.ranking-menu-wrapper {
  margin-top: 50px;
  text-align: center;
}

.ranking-form-group {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

.table-ranking {
  padding: 1rem 1.5rem;
  margin-top: 16px;
  margin-bottom: 36px;

  @include media-breakpoint-up(md) {
    margin-top: 24px;
  }
}
