.top-wrapper {
  position: relative;
  background-image: url('aniaq-top.jpg');
  background-size: cover;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  text-align: center;

  @media screen and (max-width: 450px) {
    height: 260px;
  }

  h1 {
    text-align: center;
    padding: 0;
    font-size: 24px;

    @media screen and (max-width: 670px) {
      font-size: 20px;
    }

    @media screen and (max-width: 450px) {
      font-size: 18px;
    }
  }

  img {
    margin-top: 70px;

    @media screen and (max-width: 670px) {
      width: 360px;
      height: 108px;
      margin-top: 90px;
    }

    @media screen and (max-width: 450px) {
      width: 300px;
      height: 92px;
      margin-top: 75px;
    }
  }
}

// about
.heading-top-about {
  position: relative;
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 36px;
}

.heading-top-about::before {
  content: attr(data-number);
  display: block;
  margin-bottom: 30px;
  color: #fc5185;
  text-shadow: 1px 1px #fff, 3px 3px pink;
  font-size: 30px;
  font-weight: bold;
}

.heading-top-about::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 20px;
  background-color: #fc5185;
}

.about-text {
  text-align: center;
}

.about-question {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 100px;
}

.about-question h2 {
  font-size: 24px;
  border-bottom: solid 1px #fc5185;
  text-align: center;
  padding: 8px 0;
  margin: 0 12px;
}

.about-question h2:first-letter {
  color: #db5687;
}

.about-question ul {
  max-width: 368px;
  margin: 0 auto;

  @media screen and (max-width: 399px) {
    margin: 0 8px;
  }
}

.about-question li {
  position: relative;
  font-size: 16px;
  line-height: 1.8;
  margin: 20px 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -24px;
    width: 15px;
    height: 8px;
    border-left: 3px solid #da21ff;
    border-bottom: 3px solid #da21ff;
    transform: rotate(-45deg);
  }
}

.border-text {
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 1px #db5687, -1px 1px 1px #db5687, 1px -1px 1px #db5687, -1px -1px 1px #db5687,
    1px 1px 1px #db5687, -1px 1px 1px #db5687, 1px -1px 1px #db5687, -1px -1px 1px #db5687;
  margin-top: 36px;
}

// feature
.headline-top {
  position: relative;
}

.top-box {
  border: 1px solid #f3cbd0;
  position: relative;
  width: 110px;
  height: 110px;
  margin-bottom: 60px;

  @media screen and (max-width: 999px) {
    margin-left: 12px;
  }

  @media screen and (max-width: 415px) {
    width: 90px;
    height: 90px;
    margin-bottom: 100px;
  }
}

.top-box:after {
  background: repeating-linear-gradient(-45deg, #f5d5da, #f5d5da 5px, #fcf0f1 0, #fcf0f1 10px); /* ストライプの色 */
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.top-box-label {
  position: absolute;
  top: 36px;
  left: 40px;
  color: #fc5185;
  text-shadow: 2px 2px #fff, 5px 5px pink;

  @media screen and (max-width: 415px) {
    top: 28px;
  }
}

.top-box-title {
  position: absolute;
  top: 72px;
  left: 70px;
  font-size: 32px;
  margin-right: 20px;
  padding: 0.25em 0;

  &:after {
    content: '';
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, #fc5185, transparent);
    background: linear-gradient(to right, #fc5185, transparent);
  }

  @media screen and (max-width: 530px) {
    font-size: 28px;
    top: 80px;
    left: 36px;
  }

  @media screen and (max-width: 415px) {
    top: 64px;
  }
}

.top-feature-img {
  width: 100%;
  height: auto;

  @include media-breakpoint-down(md) {
    width: 48%;
  }

  @media screen and (max-width: 530px) {
    width: 90%;
  }
}

.card-feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 531px) and (max-width: 767px) {
    flex-direction: row;
  }
}

.card-feature .card-body {
  width: 100%;

  @media screen and (max-width: 530px) {
    padding: 16px 24px;
  }
}

.card-feature-headline {
  position: relative;
  padding-top: 30px;
  padding-left: 12px;
  font-size: 26px;
}

.card-feature-headline span {
  position: relative;
  z-index: 2;
}

.card-feature-headline::before {
  content: attr(data-en);
  position: absolute;
  transform: rotate(-5deg);
  top: -3px;
  left: 0;
  color: rgba(224, 66, 114, 0.6);
  font-size: 40px;
  font-weight: 400;
  font-family: luxus-brut, cursive;
  font-style: italic;
}
