<div class="container mt-3">
  <h1 class="my-4">編集</h1>
  <%= simple_form_for [:admin, @anime] do |f| %>
    <%= f.input :title %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "戻る", admin_animes_path %>
</div>
